.App {
  text-align: center;
  margin: 20% auto;
  flex-direction: column;
  max-width: 30vw;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.result {
  min-width: 100%;
  border: solid black 1px;
  min-height: 2.5rem;
}

.alternate {
  min-width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 10%;
  margin-bottom: 4%;
}

.add, .min {
  min-width: 40%;
  min-height: 2.5rem;
  font-size: 1.4rem;
  border-radius: 10px;
}

.reset, .reset-btn {
  min-width: 100%;
  min-height: 2.5rem;
  font-size: 1.4rem;
  border-radius: 10px;
}

.add {
  border: darkgreen 1px solid;
  background-color: rgb(213, 232, 212);
}

.min {
  border: darkred 1px solid;
  background-color: rgb(247, 206, 204);

}
.reset-btn {
  border: darkblue 1px solid;
  background-color: rgb(217, 232, 251);

}